*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#main_div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  border: 2px solid;
}

.titlebox {
  border: 0px;
  padding: 2px;
  margin: 4px;
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 1.9rem;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1.0),
               2px 2px 0px rgba(0, 0, 0, 0.6),
               3px 3px 0px rgba(0, 0, 0, 0.3);
  
}

.imagebox {
  object-fit: contain;
  margin-top: 10%;
  width: 80%;
}

.image-inline-l {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
}

.image-inline-r {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
}

.arrow {
  width: 15%;
  height: 15%;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-block;
}

.vector {
  width: 35%;
}

.large-text {
  margin-top: 20%;
  font-size: 5.0rem;
}

.large-text-bottom {
  margin-top: 0%;
  border: 0;
  font-size: 3.75rem;
}

.medium-text {
  font-size: 3.5rem;
  width: 50%;
}

.switch-text-on {
  font-size: 3.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 4px solid rgba(255, 255, 255, 0.5);
}

.switch-text-off {
  font-size: 3.5rem;
  background-color: rgba(0, 0, 0, 0.25);
  border: 4px solid rgba(0, 0, 0, 0.25);
}

.table-full {
  width: 100%;
  table-layout: fixed;
  margin-top: 0%;
  margin-bottom: 0%;
  border-spacing: 0px;
}

.table-switches {
  width: 100%;
  table-layout: fixed;
  margin-top: 10%;
  margin-bottom: 0%;
  border-spacing: 0px;
}

.t-row {
  width: 50%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  padding: 1%;
  background: rgba(63, 63, 63, 0.5);
  border: 4px solid rgba(0, 0, 0, 1.0);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
}

@font-face {
  font-family: "VT323";
  src: url("./VT323-Regular.ttf");
}
